 <% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th><%= t('Task Name') %></th>
			<th><%= t('Requirement') %></th>
			<th><%= t('Instruction') %></th>
			<th><%= t('Start Date') %></th>
			<th><%= t('Finish Date') %></th>
			<th><%= t('Cancelled') %></th>
			<th><%= t('Completed') %></th>
			<th><%= t('Executioner') %></th>
			<th><%= t('Requestd By') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<td><%= r.name %></td>
			<td><%= prt(r, :requirement) %></td>
			<td><%= prt(r, :instruction) %></td>
			<td><%= r.start_date.strftime("%Y/%m/%d") %></td>
			<td><%= r.finish_date.strftime("%Y/%m/%d") %></td>
			<td><%= t(prt(r, :cancelled).to_s) %></td>
			<td><%= t(prt(r, :completed).to_s) %></td>
			<td><%= prt(r, 'executioner.name') if r.executioner_id.present? %></td> 
			<td><%= prt(r, 'requested_by.name') %></td> 
			<td><%= prt(r, 'last_updated_by.name') %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_task_path(r, :parent_record_id => r.project_id, :parent_resource => ProjectTaskx.project_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    </th>
	  </tr>
	</table>
	
	<% end %>
	
